# Local env file
.env

# Virtual environment
venv/

# Build artifacts
build/
*.db
*.log

# IDE files
.idea/
*.iml

# OS files
.DS_Store

# Simulation output
simulation/
simulation_result.txt
config/best_trade_config.yaml
data\params\trade_config.yaml
data/params/optimization_job.json

# Go deps
vendor/

optimizer/__pycache__/optimizer.cpython-312.pyc
