# Local env file
.env

# Virtual environment
venv/

# Build artifacts
build/
*.db
*.log

# IDE files
.idea/
*.iml

# OS files
.DS_Store

# Simulation output
simulation/
simulation_result.txt

# Go deps
vendor/
